@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@media screen and (max-width: 460px) {
  li {
      width: 100% !important;
      float:none !important;
  }
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to top, #ace0f9 0%,  #fff1eb 100%);
  min-height: 100vh;
  background-attachment: fixed; 
}

.ui.container {
  width: 100%;
  
}
.opportunities-map {
  display: block;
  width: 100%;
}

.ui {
  display: block;
}

svg {
  display: block;
  margin: auto;
}


h1, h2, h3, h4 {

  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 9em;
  color: #6c63ff;

}

h2 {
  font-size: 7em;
  margin-bottom: .5em;
}

h3 {
  font-size: 4em;
  margin-bottom: .5em;
  color: #6c63ff;
}

h4 {
  font-size: 3em;
  margin-bottom: .5em;
  color: #6c63ff;
}

p {
  font-size: 2em;
  line-height: 1.3em;
}

.opportunity {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.opportunity-details {
  width: 70%;
  padding: 3em;
  min-height: 100vh;
}

.opportunity-buttons {
  width: 50%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  /* margin-left: auto;
  margin-right: 0; */
}

.opportunities-list {
  background: #fff;
  padding: 2.5em;
  width: 31.3333%;
  margin: 1%;
  border: 1px solid #eee;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
}

.opportunities-list:hover {
  transition: 0.3s ease-out;
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 1);
  transform: translateY(-2px) scale(1.005);
}

.opportunities-div {
  display: flex;
  margin-bottom: 10em;
  flex-wrap: wrap;
}

.welcome {
  padding: 3em;

}

.ui.form {
  /* display: flex;
  flex-direction: column;   */
  padding: 3em;
  width: 35em;

}

.ui-header-sign {
  padding: 3em;

}

.ui-header-sign-up {
  padding: 3em;

}


.main-footer {
  color: white;
  background-color: black;
  padding: 3em;
  margin: 0;
  border: 0;
  bottom: 0;
  padding-top: 1em;
  padding-bottom: 2.5em;
  width: 100%;
  height: 1em;
  position:fixed;
}

.main {
  width: 100%;
}

ul {
  display: flex;
  margin: 0 5px;
  list-style-type: none;

}

.welcome {
  margin-bottom: 3em;
}

.opp-form {
  margin-bottom: 3em;
}

.message-form {
  margin-bottom: 3em;
}

.messages {
  display: flex;
  flex-direction: column;
}

.messages-title {
  padding-left: .5em;
}

.img-logo {
  float: left;
  width: 25%;
  margin: 0;
  height: 5%;
  z-index: 0;
}

.welcome-text {
  margin-top: 30em;
  margin-left: 3em;
  /* margin-bottom: 10em; */
  z-index: 1;
}

.hero-img {
  float: right;
  width: 60%;
  /* margin-left: 70%; */
  margin-right: 0;
  border-right: 0;
  padding-right: 0;
  margin-top: 0;
  top: 0;
  z-index: -1;
}

.text-h3 {
  font-size: 3.3em;
  color: black;
  margin: 0;
  border: 0;
  padding: 0;

}
