@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;800;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    min-height: 100vh;
    background-attachment: fixed;  
}

.spinner {
  height: 300px;
}

h2 {
  font-size: 4em;
  font-family: 'Alegreya', serif;

}
