@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@media screen and (max-width: 460px) {
  li {
      width: 100% !important;
      float:none !important;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to top, #ace0f9 0%,  #fff1eb 100%);
  min-height: 100vh;
  background-attachment: fixed; 
    
}

.opportunities-map {
  display: block;
  width: 100%;
}

.ui {
  display: block;
}

svg {
  display: block;
  margin: auto;
}

.spinner {
  height: 300px;
}

h1 {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
}


